Importing the required modules

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("tmdb1.csv")

checking dataset

In [3]:
df.head(5)

,id,title,release_date,genre,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,385687,Fast X,2023-05-17,"['Action', 'Crime', 'Thriller']",English,7.4,1347.0,8363.473,Over many missions and against impossible odds...,340000000.0,"['Universal Pictures', 'Original Film', 'One R...",6.520000e+08,142.0,The end of the road begins.
1,603692,John Wick: Chapter 4,2023-03-22,"['Action', 'Thriller', 'Crime']",English,7.9,2896.0,4210.313,"With the price on his head ever increasing, Jo...",90000000.0,"['Thunder Road', '87Eleven', 'Summit Entertain...",4.317692e+08,170.0,"No way back, one way out."
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Family', 'Adventure', 'Fantasy'...",English,7.8,4628.0,3394.458,"While working underground to fix a water main,...",100000000.0,"['Universal Pictures', 'Illumination', 'Ninten...",1.308767e+09,92.0,NaN
3,569094,Spider-Man: Across the Spider-Verse,2023-05-31,"['Action', 'Adventure', 'Animation', 'Science ...",English,8.8,1160.0,2859.047,"After reuniting with Gwen Stacy, Brooklyn’s fu...",100000000.0,"['Columbia Pictures', 'Sony Pictures Animation...",3.135222e+08,140.0,It's how you wear the mask that matters
4,536437,Hypnotic,2023-05-11,"['Mystery', 'Thriller', 'Science Fiction']",English,6.5,154.0,2654.854,A detective becomes entangled in a mystery inv...,70000000.0,"['Studio 8', 'Solstice Productions', 'Ingeniou...",0.000000e+00,94.0,Control is an illusion.

In [4]:
df.describe()

,id,vote_average,vote_count,popularity,budget,revenue,runtime
count,1.000100e+04,10000.000000,10000.000000,10000.000000,9.999000e+03,9.999000e+03,9999.000000
mean,3.001465e+05,6.319090,1558.294800,33.542340,1.993800e+07,6.084337e+07,100.809581
std,3.379901e+05,1.460605,2887.861217,126.495621,3.870582e+07,1.553073e+08,27.850165
min,0.000000e+00,0.000000,0.000000,12.297000,0.000000e+00,0.000000e+00,0.000000
25%,1.150400e+04,5.900000,143.000000,14.599000,0.000000e+00,0.000000e+00,90.000000
50%,1.184060e+05,6.600000,519.000000,18.582500,1.250000e+06,2.133452e+06,100.000000
75%,5.379150e+05,7.100000,1584.000000,28.014500,2.300000e+07,5.106230e+07,115.000000
max,1.136631e+06,10.000000,33822.000000,8363.473000,4.600000e+08,2.923706e+09,366.000000

In [5]:
df.isna().sum()

id                         0
title                      0
release_date              23
genre                      0
original_language          1
vote_average               1
vote_count                 1
popularity                 1
overview                  77
budget                     2
production_companies       2
revenue                    2
runtime                    2
tagline                 2618
dtype: int64

In [6]:
df.dtypes

id                        int64
title                    object
release_date             object
genre                    object
original_language        object
vote_average            float64
vote_count              float64
popularity              float64
overview                 object
budget                  float64
production_companies     object
revenue                 float64
runtime                 float64
tagline                  object
dtype: object

In [7]:
df.columns

Index(['id', 'title', 'release_date', 'genre', 'original_language',
       'vote_average', 'vote_count', 'popularity', 'overview', 'budget',
       'production_companies', 'revenue', 'runtime', 'tagline'],
      dtype='object')

filtering dataset

In [8]:
df=df[['id','title','genre','overview','vote_count','vote_average']]
df.head(5)

,id,title,genre,overview,vote_count,vote_average
0,385687,Fast X,"['Action', 'Crime', 'Thriller']",Over many missions and against impossible odds...,1347.0,7.4
1,603692,John Wick: Chapter 4,"['Action', 'Thriller', 'Crime']","With the price on his head ever increasing, Jo...",2896.0,7.9
2,502356,The Super Mario Bros. Movie,"['Animation', 'Family', 'Adventure', 'Fantasy'...","While working underground to fix a water main,...",4628.0,7.8
3,569094,Spider-Man: Across the Spider-Verse,"['Action', 'Adventure', 'Animation', 'Science ...","After reuniting with Gwen Stacy, Brooklyn’s fu...",1160.0,8.8
4,536437,Hypnotic,"['Mystery', 'Thriller', 'Science Fiction']",A detective becomes entangled in a mystery inv...,154.0,6.5

In [9]:
df['tags']=df['overview']+df['genre']
df.head(5)

,id,title,genre,overview,vote_count,vote_average,tags
0,385687,Fast X,"['Action', 'Crime', 'Thriller']",Over many missions and against impossible odds...,1347.0,7.4,Over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,"['Action', 'Thriller', 'Crime']","With the price on his head ever increasing, Jo...",2896.0,7.9,"With the price on his head ever increasing, Jo..."
2,502356,The Super Mario Bros. Movie,"['Animation', 'Family', 'Adventure', 'Fantasy'...","While working underground to fix a water main,...",4628.0,7.8,"While working underground to fix a water main,..."
3,569094,Spider-Man: Across the Spider-Verse,"['Action', 'Adventure', 'Animation', 'Science ...","After reuniting with Gwen Stacy, Brooklyn’s fu...",1160.0,8.8,"After reuniting with Gwen Stacy, Brooklyn’s fu..."
4,536437,Hypnotic,"['Mystery', 'Thriller', 'Science Fiction']",A detective becomes entangled in a mystery inv...,154.0,6.5,A detective becomes entangled in a mystery inv...

removing unnecessary columns

In [10]:
df=df.drop(columns=['vote_count','vote_average','genre','overview'])
df

,id,title,tags
0,385687,Fast X,Over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,"With the price on his head ever increasing, Jo..."
2,502356,The Super Mario Bros. Movie,"While working underground to fix a water main,..."
3,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu..."
4,536437,Hypnotic,A detective becomes entangled in a mystery inv...
...,...,...,...
9995,33142,Vivah,"Poonam, a traditionally brought-up young woman..."
9996,9442,Dead Men Don't Wear Plaid,Juliet Forrest is convinced that the reported ...
9997,28774,Communion,A novelist's wife and son see him changed by a...
9998,11121,Tess,A strong-willed peasant girl is sent by her fa...
9999,272692,The Possession of Michael King,The film tells the story of documentary filmma...

preparing Machine learning model

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
cv=CountVectorizer(max_features=1000,stop_words='english')
cv

CountVectorizer(max_features=1000, stop_words='english')

In [13]:
vector=cv.fit_transform(df['tags'].values.astype('U')).toarray()
vector.shape

(10001, 1000)

making similarity model

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
sim=cosine_similarity(vector)
sim

array([[1.        , 0.21821789, 0.10012523, ..., 0.0727393 , 0.        ,
        0.        ],
       [0.21821789, 1.        , 0.05735393, ..., 0.08333333, 0.        ,
        0.        ],
       [0.10012523, 0.05735393, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.0727393 , 0.08333333, 0.        , ..., 1.        , 0.10050378,
        0.10050378],
       [0.        , 0.        , 0.        , ..., 0.10050378, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.10050378, 0.        ,
        1.        ]])

In [16]:
df[df['title']=="John Wick: Chapter 4"].index[0]

'1'

Making the movie recomendation system

In [17]:
def recomendMovies(movie):
    ind=int(df[df['title']==movie].index[0])
    distance=sorted(list(enumerate(sim[ind])),reverse=True,key=lambda vector:vector[0])
    for i in distance[0:5]:
        print(df.iloc[i[0]].title)

In [18]:
recomendMovies('John Wick: Chapter 4')

The Possession of Michael King
Tess
Communion
Dead Men Don't Wear Plaid
Vivah

In [19]:
recomendMovies('Spider-Man: Across the Spider-Verse')

The Possession of Michael King
Tess
Communion
Dead Men Don't Wear Plaid
Vivah